:root {
    --primary-color: #2d2d2d;
    --secondary-color: #1fe070;
    --tercy-color: #ffffff;
}

.how-we-do{
    background-color: var(--tercy-color);

}

.values h3{
    padding-left: 10%;
}

/* primeiros 2 itens da grade "como fazemos" */
.values-1 {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.values-1 ul{
   list-style-type: none;
   font-size: 40px;
   margin-top: -20%;
   font-weight: bold;
   padding-left: 15%;
}

.item-values{
    width: 50%;
    display: flex;
    padding: 0 4%;
}

.item-values p{
    color: #9d9e9e;

}

.item-values h6{
    font-size: 25px;
}

/* quatro ultimos itens da grade "como fazemos" */

.values-grid{
    padding-top: 5%;
    display: flex;
}
.grid-item{
    display: flex;
    max-width: 50%;
    padding: 0 4%;

}

.grid-item p{
    color: #9d9e9e;
}

.grid-item h6{
    font-size: 25px;
}


/* item da nuvem grande */
.NPOs{
    width: 100%;
    margin: 0;
    padding: 14em 4em 4em 4em;
}

.NPOs img{
    width: 100%;
}

.NPOs div p{
    padding-right: 6em;
    font-size: 14px;
}

@media (max-width: 1300px){
  
}