
:root {
    --primary-color: #2d2d2d;
    --secondary-color: #1fe070;
    --tercy-color: #ffffff;
}

p {
    position: relative;
    color: var(--tercy-color)
}


.who-are-we {
    width: 55vw;
    height: 40vh;
    position: relative;
    top: -25em;
    left: 8em;
}


.who-are-we span{
    color: var(--secondary-color)
}

.who-are-we h3{
    padding: 0.5em 10em;
    color: var(--tercy-color);
    font-size: 12px;
}

.who-are-we p{
    line-height: 30px;
    margin: 2rem 0.5rem;
    font-size: 20px;
    color: var(--tercy-color)
}

.NPOs {
    display: flex;
    margin: 7em;
}

.NPOs div{
    padding: 1em;
}

.NPOs div h4 {
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    margin-left: 1em;
}

.NPOs div h4 strong{
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}

.NPOs div p{
    border-left: 10px solid var(--secondary-color);
    padding-left: 0.5em;
    color: #7d7d7d;
    line-height: 30px;
    width: 50em;
}

.NPOs div a{
    padding-left: 2em;
    color: var(--secondary-color);
    font-size: 18px;
}

/* customers */
.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 82vw;
    margin: 0 auto;
}

.customers div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


.customers h3{
   font-size: 50px;
   color: var(--primary-color);
   margin: 1em;
}

.customers h5{
    font-size: 20px;
    color: var(--primary-color);
    margin: 2em;
 }