:root {
    --primary-color: #2d2d2d;
    --secondary-color: #1fe070;
    --tercy-color: #ffffff;
}

.banner {
    width: 100%;
    min-height: 150vh;
    background-color: var(--primary-color);
    margin: -15em auto;
    background-image: url("https://codebit.com.br/assets/images/happy-face-1.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.banner h1 {
    position: relative;
    color: var(--secondary-color);
    top: 10em;
    
}

.banner h2 {
    position: relative;
    color: var(--tercy-color);
    top: 15em;
}

.banner div {
    margin-left: 9em;
}
